.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
# File được tự động tạo ra bởi RMarkdown
*.md
/*.html
!/_doc_prefix_navbar.html
!/_header.html
!/_header_MathJax.html
#
# File để thử nghiệm
Test.css
Test.Rmd
MathJax-master
#
# Cache files.
*_files
Respond.js
bootstrap.css
jquery.min.js
