.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
#
# File được tự động tạo ra bởi RMarkdown
*.md
!/.README.config.md
/*.html
#
# File để thử nghiệm
test*.*
MathJax-master
#
# Cache files.
*_files
Respond.js
bootstrap.css
jquery.min.js
#
# eslint-plugin-prettier package
node_modules
package-lock.json
