/**
*! Style này chỉ dành cho RMarkdown không xài Theme.
** - Code button in Navigate bar.
** - Show/ Hide source code.
*/
.btn-group,
.btn-group-vertical {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.pull-right {
  float: right !important;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  position: relative;
  float: left;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.focus,
.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn {
  background-image: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.btn .caret {
  margin-left: 0;
}

.caret {
  display: inline-block;
  height: 0;
  width: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu {
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  text-align: left;
  min-width: 160px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  position: absolute;
  top: 100%;
  left: 0;
  margin: 2px 0 0;
  padding: 5px 0;
  float: left;
  z-index: 1000;
  list-style: none;
}

.dropdown-menu > li {
  margin: 0px;
}

.dropdown-menu > li > a {
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #262626;
  background-color: #d1ebde;
  text-decoration: none;
}

.dropdown-menu .divider {
  background-color: #e5e5e5;
  height: 1px;
  overflow: hidden;
  margin: 9px 0;
}

.sourceCode {
  overflow-x: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.sourceCode .row {
  width: 100%;
}

.col-md-12 {
  min-height: 1px;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.code-folding-btn {
  margin-right: -30px;
  margin-bottom: 4px;
}

#rmd-source-code {
  display: none;
}