/**
*! Style này chỉ dành cho RMarkdown không xài Theme.
** Navigate bar.
*/
body {
  /* padding for bootstrap navbar (fixed navbar) */
  padding-top: 51px;
  /* padding for bootstrap navbar (fixed navbar) */
  padding-bottom: 40px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main-container {
  font-size: 1.1em;
  max-width: 96% !important;
}

.navbar {
  font-size: 1.5em;
  min-height: 50px;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 20px;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}

.navbar-fixed-top {
  border-width: 0 0 1px;
  top: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-display-flex {
  display: flex;
  max-height: 340px;
  overflow-x: visible;
  justify-content: space-between;
  border-top: 0;
  box-shadow: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav > li {
  display: block;
  position: relative;
  margin-top: 0px;
}

.nav > li > a {
  display: block;
  position: relative;
  padding: 10px 15px;
}

.navbar-nav {
  margin: 0;
  float: left;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}