/**
*! Style này chỉ dành cho RMarkdown không xài Theme.
** Common.
*/
::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #337ab7;
  background-color: transparent;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

.btn-group-vertical > .btn-group::after,
.btn-group-vertical > .btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

.txt-cursor-pointer {
  color: #777;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  padding-top: 20px;
  padding-right: 5px;
  cursor: pointer;
  vertical-align: baseline;
}

.txt-cursor-pointer:hover {
  color: #000;
}

.txt-xs {
  font-size: 0.75em;
}

.title {
  color: #22b15d;
  font-weight: 600;
  margin-bottom: 0px;
}

.subtitle {
  color: #000;
  font-weight: 400;
  font-size: 2em;
  margin: 5px 0px 0px 10px;
}

.author {
  font-weight: 400;
  margin: 25px 0px 0px 10px;
}

.date {
  font-weight: 400;
  margin: 5px 0px 20px 10px;
}

.level1 {
  margin: 30px 0px 5px 0px;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

.logs {
  margin-top: 5px;
}

.logs-caption {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
  width: calc(100% + 4px);
  border: solid 2px #fafafa;
  margin-left: -2px;
  padding: 5px 10px 5px 10px;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  background-image: linear-gradient(#5b6676, #7a7a7a, #6b7686);
}

.logs-content {
  color: #304e6d;
  background-color: #f3f6fa;
  font-size: 1.5em;
  line-height: 1.25;
  border: solid 2px #dce6f0;
  margin-top: -2px;
  padding: 10px;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  word-wrap: break-word;
}

.logs-content > p {
  margin: 10px 5px 5px 5px;
}

.level2 {
  margin: 20px 0px 5px 20px;
}

h2 {
  font-weight: 600;
  font-size: 2.5em;
}

.level3 {
  font-weight: normal;
  font-size: 2em;
  margin: 10px 0px 5px 20px;
}

h3 {
  font-weight: 600;
  margin-bottom: 0px;
}

.level3 > :not(h3) {
  margin-left: 20px;
}

.level4 {
  margin: 10px 0px 10px 20px;
}

h4 {
  font-size: 2em;
}

ul {
  margin-top: 15px;
  margin-bottom: 0px;
}

li {
  margin-top: 15px;
  margin-bottom: 0px;
}

p {
  margin-top: 15px;
  margin-bottom: 0px;
}

code {
  color: #000000;
  font-weight: 400;
}

p > code,
li > code,
td > code {
  font-weight: 600;
}

hr {
  background-color: #aaa;
  height: 2px;
  background-image: linear-gradient(to right, #eee, #aaa, #eee);
}

div.sourceCode {
  margin: 0 0 0.5em 0;
}

img {
  border: solid 1px #304e6d;
}

.scroll {
  height: 200px;
  overflow-y: scroll;
}

.update {
  color: #287a17;
  font-size: 0.8em;
}